openapi: 3.0.1
info:
  title: Anecdotario User Service API
  version: 1.0.0
  description: |
    User account management and photo upload service for the Anecdotario platform.
    
    This service provides:
    - Photo upload with image optimization
    - User lookup by nickname
    - User account creation and management
    - JWT-based authentication via AWS Cognito
  contact:
    name: Anecdotario Development Team
  license:
    name: MIT

servers:
  - url: https://api.anecdotario.com
    description: Production API
  - url: https://stage.api.anecdotario.com
    description: Staging API
  - url: https://dev.api.anecdotario.com
    description: Development API


security:
  - CognitoJWTAuth: []

paths:
  /users/{userId}/photo:
    delete:
      summary: Delete user photo
      description: |
        Delete all versions of a user's profile photo from S3 and clear photo URLs from the database.
        
        **Security:**
        - Users can only delete their own photos
        - Deletes all versions: thumbnail, standard, and high-resolution
        - Clears all photo-related fields from user record
        
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      responses:
        200:
          description: Photos deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Photos deleted successfully"
                  user_id:
                    type: string
                    example: "b4787498-9011-7011-b492-d54a8d1501b7"
                  deleted_files:
                    type: array
                    items:
                      type: string
                    example: ["users/b4787498-9011-7011-b492-d54a8d1501b7/thumbnail_20250116_123456_a1b2c3d4.jpg"]
                  deletion_errors:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        error:
                          type: string
                  deleted_at:
                    type: string
                    format: date-time
        401:
          description: |
            Unauthorized - Authentication failed. Common causes:
            - Missing Authorization header
            - Using Access Token instead of ID Token
            - Expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - user can only delete their own photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - CognitoJWTAuth: []
    post:
      summary: Upload user photo
      description: |
        Upload and optimize a user's profile photo with Instagram-style multi-version processing.
        
        **Update Behavior:**
        - **New uploads**: Creates user profile with photos
        - **Photo updates**: Automatically deletes old photo versions before uploading new ones
        - Prevents S3 storage bloat by cleaning up replaced photos
        
        **Security Model:**
        - Thumbnail (150x150): Publicly accessible for browsing/search
        - Standard (320x320) & High-res (800x800): Protected with presigned URLs (7-day expiry)
        
        **Processing:**
        - Creates 3 versions: thumbnail, standard, high-resolution
        - Square cropping from center with progressive JPEG optimization
        - EXIF data stripped for privacy and size reduction
        - Stored in S3 with encryption and proper access controls
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: base64
                  description: Base64 encoded image data with data URL prefix (e.g., "data:image/jpeg;base64,...")
                  example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD..."
                nickname:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-zA-Z0-9_-]+$'
                  description: User nickname (required for new users)
                  example: "johndoe123"
      responses:
        200:
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Photo uploaded successfully"
                  images:
                    type: object
                    description: Multiple image versions (Instagram-style)
                    properties:
                      thumbnail:
                        type: string
                        format: uri
                        description: Small thumbnail version (150x150px) - Publicly accessible
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
                      standard:
                        type: string
                        format: uri
                        description: Standard version for profile display (320x320px) - Presigned URL with 7-day expiry
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/standard_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                      high_res:
                        type: string
                        format: uri
                        description: High resolution version for full view (800x800px) - Presigned URL with 7-day expiry
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/high_res_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                  photo_url:
                    type: string
                    format: uri
                    description: Legacy field - now returns thumbnail URL for backward compatibility (publicly accessible)
                    example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
                  versions_created:
                    type: integer
                    description: Number of image versions created
                    example: 3
                  size_reduction:
                    type: string
                    description: Percentage reduction in total file size
                    example: "65.2%"
                  old_files_deleted:
                    type: array
                    nullable: true
                    description: List of old photo files deleted during update (null for new uploads)
                    items:
                      type: string
                    example: ["users/abc123/thumbnail_20250115_123456_old123.jpg", "users/abc123/standard_20250115_123456_old123.jpg"]
                  user:
                    $ref: '#/components/schemas/User'
        400:
          description: Bad request - invalid image data or nickname
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: |
            Unauthorized - Authentication failed. Common causes:
            - Missing Authorization header
            - Using Access Token instead of ID Token (check `token_use` claim should be "id")
            - Expired token (check `exp` claim)
            - Invalid token signature
            - Wrong Cognito User Pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - user can only upload their own photo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        413:
          description: Payload too large - image exceeds 5MB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/by-nickname/{nickname}:
    get:
      summary: Get user by nickname
      description: |
        Retrieve user information by their unique nickname.
        
        **Access Control:**
        - Authenticated users: Receive presigned URLs for standard and high-res images (7-day expiry)
        - Anonymous users: Only receive publicly accessible thumbnail URLs
      parameters:
        - name: nickname
          in: path
          required: true
          description: User's unique nickname
          schema:
            type: string
            minLength: 3
            maxLength: 20
            pattern: '^[a-zA-Z0-9_-]+$'
            example: "johndoe123"
      responses:
        200:
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users:
    post:
      summary: Create new user
      description: Create a new user account with optional nickname
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-zA-Z0-9_-]+$'
                  description: Optional unique nickname for the user
                  example: "johndoe123"
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad request - invalid nickname or nickname already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete current user account
      description: Delete the authenticated user's account and all associated data
      responses:
        200:
          description: User account deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User account deleted successfully"
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{userId}:
    delete:
      summary: Delete user by ID (admin only)
      description: Delete a specific user account by ID (requires admin privileges)
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID to delete
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      responses:
        200:
          description: User deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User deleted successfully"
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - insufficient privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    CognitoJWTAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        AWS Cognito JWT **ID Token** (not Access Token). Include the token in the Authorization header:
        `Authorization: Bearer <your-id-token>`
        
        **Important**: You must use the **ID Token**, not the Access Token:
        
        **Correct (ID Token):**
        ```javascript
        const session = await Auth.currentSession();
        const idToken = session.getIdToken().getJwtToken(); // ✅ Use this
        ```
        
        **Incorrect (Access Token):**
        ```javascript
        const accessToken = session.getAccessToken().getJwtToken(); // ❌ Don't use this
        ```
        
        **Token Characteristics:**
        - **ID Token**: Contains user identity claims (`token_use: "id"`)
        - **Access Token**: For AWS service access (`token_use: "access"`) 
        - **Issuer**: `https://cognito-idp.us-east-1.amazonaws.com/us-east-1_W1OBKShP1`
        - **Expiry**: Typically 1 hour (check `exp` claim)

  schemas:
    User:
      type: object
      properties:
        cognito_id:
          type: string
          description: Cognito user ID (primary key)
          example: "us-east-1:12345678-1234-1234-1234-123456789012"
        nickname:
          type: string
          description: Unique user nickname
          example: "johndoe123"
        images:
          type: object
          nullable: true
          description: |
            Multiple profile image versions with selective access control.
            
            **Security Model:**
            - thumbnail: Always included (publicly accessible)
            - standard & high_res: Only included for authenticated users (presigned URLs with 7-day expiry)
          properties:
            thumbnail:
              type: string
              format: uri
              description: Small thumbnail (150x150px) - Always accessible
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
            standard:
              type: string
              format: uri
              description: Standard size (320x320px) - Authenticated users only (presigned URL)
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/standard_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
            high_res:
              type: string
              format: uri
              description: High resolution (800x800px) - Authenticated users only (presigned URL)
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/high_res_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
        image_url:
          type: string
          format: uri
          nullable: true
          description: Legacy field - Now returns thumbnail URL for backward compatibility (publicly accessible)
          example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
        created_at:
          type: string
          format: date-time
          description: Timestamp when user was created
          example: "2025-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when user was last updated
          example: "2025-01-15T15:45:30Z"
      required:
        - cognito_id
        - nickname
        - created_at
        - updated_at

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid image format"
        details:
          type: string
          description: Additional error details
          example: "Supported formats: JPEG, PNG, WebP"
      required:
        - error

tags:
  - name: Photos
    description: Photo upload and management operations
  - name: Users
    description: User account operations
  - name: Lookup
    description: User lookup and search operations