openapi: 3.0.1
info:
  title: Anecdotario User Service API
  version: 1.0.0
  description: |
    User account management and photo upload service for the Anecdotario platform.
    
    This service provides:
    - Photo upload with image optimization (via Anecdotario Commons Service)
    - User lookup by nickname
    - User account creation and management
    - JWT-based authentication via AWS Cognito
    
    **Architecture:**
    - Uses Anecdotario Commons Service Lambda Layer for shared functionality
    - Direct PhotoService integration for optimal performance
    - Centralized photo processing and storage management
    
    **Layer Dependencies:**
    - **anecdotario-commons-service-layer**: Provides PhotoService, NicknameContracts, UserOrgContracts
    - **Layer ARN**: Imported via CloudFormation from commons service stack
    - **Version Management**: Layer versioning handled by commons service deployment
  contact:
    name: Anecdotario Development Team
  license:
    name: MIT

servers:
  - url: https://api.anecdotario.com
    description: Production API
  - url: https://stage.api.anecdotario.com
    description: Staging API
  - url: https://dev.api.anecdotario.com
    description: Development API


security:
  - CognitoJWTAuth: []

paths:
  /users/{userId}/photo/refresh:
    get:
      summary: Refresh photo URLs
      description: |\
        Generate fresh presigned URLs for existing photos without re-uploading them.
        
        **Use Case:**
        - Presigned URLs expire after 7 days
        - This endpoint refreshes them with a new 7-day expiry
        - Much more efficient than re-uploading photos
        
        **Security:**
        - Users can only refresh their own photo URLs
        - Verifies photos exist in S3 before generating URLs
        - Returns partial success if some files are missing
        
        **URL Types:**
        - Thumbnail: Public URL (never expires, returned as-is)
        - Standard & High-res: New presigned URLs with 7-day expiry
        
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      responses:
        200:
          description: Photo URLs refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Photo URLs refreshed successfully"
                  images:
                    type: object
                    description: Refreshed image URLs with new expiry times
                    properties:
                      thumbnail:
                        type: string
                        format: uri
                        description: Public thumbnail URL (never expires)
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250119_123456_a1b2c3d4.jpg"
                      standard:
                        type: string
                        format: uri
                        description: Fresh presigned URL for standard image (7-day expiry)
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/standard_20250119_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                      high_res:
                        type: string
                        format: uri
                        description: Fresh presigned URL for high-res image (7-day expiry)
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/high_res_20250119_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                  expires_at:
                    type: string
                    format: date-time
                    description: When presigned URLs expire (7 days from refresh)
                    example: "2025-01-26T12:34:56Z"
                  expires_in_seconds:
                    type: integer
                    description: Seconds until presigned URLs expire
                    example: 604800
                  refreshed_at:
                    type: string
                    format: date-time
                    description: When URLs were refreshed
                    example: "2025-01-19T12:34:56Z"
                  errors:
                    type: array
                    nullable: true
                    description: Partial failures (some photos not found in S3)
                    items:
                      type: object
                      properties:
                        version:
                          type: string
                          example: "standard"
                        error:
                          type: string
                          example: "File not found in S3"
                        key:
                          type: string
                          example: "users/abc123/standard_20250119_123456_a1b2c3d4.jpg"
        401:
          description: |\
            Unauthorized - Authentication failed. Common causes:
            - Missing Authorization header
            - Using Access Token instead of ID Token
            - Expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - user can only refresh their own photo URLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found or no photos available to refresh
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - CognitoJWTAuth: []

  /users/{userId}/photo:
    delete:
      summary: Delete user photo
      description: |
        Delete all versions of a user's profile photo from S3 and clear photo URLs from the database.
        
        **Security:**
        - Users can only delete their own photos
        - Deletes all versions: thumbnail, standard, and high-resolution
        - Clears all photo-related fields from user record
        
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      responses:
        200:
          description: Photos deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Photos deleted successfully"
                  user_id:
                    type: string
                    example: "b4787498-9011-7011-b492-d54a8d1501b7"
                  deleted_files:
                    type: array
                    items:
                      type: string
                    example: ["users/b4787498-9011-7011-b492-d54a8d1501b7/thumbnail_20250116_123456_a1b2c3d4.jpg"]
                  deletion_errors:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        error:
                          type: string
                  deleted_at:
                    type: string
                    format: date-time
        401:
          description: |
            Unauthorized - Authentication failed. Common causes:
            - Missing Authorization header
            - Using Access Token instead of ID Token
            - Expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - user can only delete their own photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - CognitoJWTAuth: []
    post:
      summary: Upload user photo
      description: |
        Upload and optimize a user's profile photo with Instagram-style multi-version processing via the Anecdotario Commons Service.
        
        **Architecture:**
        - Uses Anecdotario Commons Service PhotoService for all image processing
        - Direct service integration via Lambda Layer (optimal performance)
        - Centralized photo metadata storage for cross-service search capabilities
        
        **Update Behavior:**
        - **New uploads**: Creates user profile with photos
        - **Photo updates**: Automatically deletes old photo versions before uploading new ones
        - Prevents S3 storage bloat by cleaning up replaced photos
        
        **Security Model:**
        - Thumbnail (150x150): Publicly accessible for browsing/search
        - Standard (320x320) & High-res (800x800): Protected with presigned URLs (7-day expiry)
        
        **Processing (Commons Service):**
        - Creates 3 versions: thumbnail, standard, high-resolution
        - Square cropping from center with progressive JPEG optimization
        - EXIF data stripped for privacy and size reduction
        - Comprehensive validation and error handling
        - Stored in S3 with encryption and proper access controls
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: base64
                  description: Base64 encoded image data with data URL prefix (e.g., "data:image/jpeg;base64,...")
                  example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD..."
                nickname:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-zA-Z0-9_-]+$'
                  description: User nickname (required for new users)
                  example: "johndoe123"
      responses:
        200:
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Photo uploaded successfully"
                  images:
                    type: object
                    description: Multiple image versions (Instagram-style)
                    properties:
                      thumbnail:
                        type: string
                        format: uri
                        description: Small thumbnail version (150x150px) - Publicly accessible
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
                      standard:
                        type: string
                        format: uri
                        description: Standard version for profile display (320x320px) - Presigned URL with 7-day expiry
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/standard_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                      high_res:
                        type: string
                        format: uri
                        description: High resolution version for full view (800x800px) - Presigned URL with 7-day expiry
                        example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/high_res_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                  photo_url:
                    type: string
                    format: uri
                    description: Legacy field - now returns thumbnail URL for backward compatibility (publicly accessible)
                    example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
                  versions_created:
                    type: integer
                    description: Number of image versions created
                    example: 3
                  size_reduction:
                    type: string
                    description: Percentage reduction in total file size
                    example: "65.2%"
                  photo_id:
                    type: string
                    description: Unique photo identifier generated by Commons Service
                    example: "photo_20250116_123456_a1b2c3d4"
                  commons_service:
                    type: boolean
                    description: Indicates photo was processed by Anecdotario Commons Service
                    example: true
                  cleanup:
                    type: object
                    description: Photo cleanup information from Commons Service
                    properties:
                      photos_removed:
                        type: integer
                        description: Number of old photo records removed
                        example: 1
                      files_deleted:
                        type: integer
                        description: Number of old files deleted from S3
                        example: 3
                      errors:
                        type: integer
                        description: Number of cleanup errors encountered
                        example: 0
                  user:
                    $ref: '#/components/schemas/User'
        400:
          description: Bad request - invalid image data or nickname
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: |
            Unauthorized - Authentication failed. Common causes:
            - Missing Authorization header
            - Using Access Token instead of ID Token (check `token_use` claim should be "id")
            - Expired token (check `exp` claim)
            - Invalid token signature
            - Wrong Cognito User Pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - user can only upload their own photo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        413:
          description: Payload too large - image exceeds 5MB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/by-nickname/{nickname}:
    get:
      summary: Get user by nickname
      description: |
        Retrieve user information by their unique nickname.
        
        **Access Control:**
        - Authenticated users: Receive presigned URLs for standard and high-res images (7-day expiry)
        - Anonymous users: Only receive publicly accessible thumbnail URLs
      parameters:
        - name: nickname
          in: path
          required: true
          description: User's unique nickname
          schema:
            type: string
            minLength: 3
            maxLength: 20
            pattern: '^[a-zA-Z0-9_-]+$'
            example: "johndoe123"
      responses:
        200:
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users:
    post:
      summary: Create new user
      description: Create a new user account with optional nickname
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-zA-Z0-9_-]+$'
                  description: Optional unique nickname for the user
                  example: "johndoe123"
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: Bad request - invalid nickname or nickname already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete current user account
      description: |\
        Delete the authenticated user's account and **all associated data** including photos.
        
        **⚠️ DESTRUCTIVE OPERATION - Cannot be undone!**
        
        **Complete Resource Cleanup:**
        - All photo versions (thumbnail, standard, high-res) deleted from S3
        - User record permanently removed from database
        - All presigned URLs become invalid
        - Account data completely erased
        
        **Security Requirements:**
        - Must include `?confirm=true` query parameter as safety measure
        - Users can only delete their own accounts
        - Optional deletion reason can be provided in request body
        
        **Performance:**
        - Uses optimized batch S3 deletion (up to 1000 files per API call)
        - Handles unlimited number of user photos with pagination
        - Non-blocking: Account deletion succeeds even if some photos fail to delete
        
      parameters:
        - name: confirm
          in: query
          required: true
          description: Safety confirmation - must be "true" to proceed with deletion
          schema:
            type: string
            enum: ["true"]
            example: "true"
      requestBody:
        required: false
        description: Optional deletion details
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional reason for account deletion
                  example: "User requested account deletion"
      responses:
        200:
          description: User account and all associated data deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User account deleted successfully"
                  deleted_user:
                    $ref: '#/components/schemas/User'
                    description: User data that was deleted (for confirmation)
                  cleanup:
                    type: object
                    description: Detailed cleanup results
                    properties:
                      photos_deleted:
                        type: integer
                        description: Number of photo files successfully deleted
                        example: 15
                      deleted_files:
                        type: array
                        nullable: true
                        description: List of S3 keys that were deleted
                        items:
                          type: string
                        example: ["users/abc123/thumbnail_20250119_123456.jpg", "users/abc123/standard_20250119_123456.jpg"]
                      cleanup_errors:
                        type: array
                        nullable: true
                        description: Any errors encountered during cleanup
                        items:
                          type: string
                        example: null
                  photos_deleted:
                    type: array
                    description: Legacy field - list of deleted photo keys (for backward compatibility)
                    items:
                      type: string
                  deletion_reason:
                    type: string
                    description: Reason for deletion (user-provided or default)
                    example: "User requested account deletion"
                  deleted_at:
                    type: string
                    format: date-time
                    description: Timestamp when deletion occurred
                    example: "2025-08-19T04:30:00Z"
                  warning:
                    type: string
                    description: Warning about irreversibility
                    example: "This action cannot be undone"
        400:
          description: Bad request - missing confirmation parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Account deletion requires confirmation"
                  usage:
                    type: string
                    example: "DELETE /users/{userId}?confirm=true"
                  warning:
                    type: string
                    example: "This action cannot be undone"
                  user:
                    $ref: '#/components/schemas/User'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{userId}:
    delete:
      summary: Delete user by ID  
      description: |\
        Delete a specific user account by ID and **all associated data** including photos.
        
        **⚠️ DESTRUCTIVE OPERATION - Cannot be undone!**
        
        **Current Implementation:**
        - Users can only delete their own accounts (no admin functionality yet)
        - Same comprehensive cleanup as self-deletion endpoint
        - Requires confirmation parameter for safety
        
        **Complete Resource Cleanup:**
        - All photo versions (thumbnail, standard, high-res) deleted from S3
        - User record permanently removed from database
        - All presigned URLs become invalid
        - Account data completely erased
        
        **Performance:**
        - Uses optimized batch S3 deletion (up to 1000 files per API call)
        - Handles unlimited number of user photos with pagination
        - Non-blocking: Account deletion succeeds even if some photos fail to delete
        
      parameters:
        - name: userId
          in: path
          required: true
          description: Cognito user ID to delete (must match authenticated user)
          schema:
            type: string
            pattern: '^[a-zA-Z0-9-_]+$'
        - name: confirm
          in: query
          required: true
          description: Safety confirmation - must be "true" to proceed with deletion
          schema:
            type: string
            enum: ["true"]
            example: "true"
      requestBody:
        required: false
        description: Optional deletion details
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional reason for account deletion
                  example: "User requested account deletion"
      responses:
        200:
          description: User account and all associated data deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User account deleted successfully"
                  deleted_user:
                    $ref: '#/components/schemas/User'
                    description: User data that was deleted (for confirmation)
                  cleanup:
                    type: object
                    description: Detailed cleanup results
                    properties:
                      photos_deleted:
                        type: integer
                        description: Number of photo files successfully deleted
                        example: 15
                      deleted_files:
                        type: array
                        nullable: true
                        description: List of S3 keys that were deleted
                        items:
                          type: string
                        example: ["users/abc123/thumbnail_20250119_123456.jpg", "users/abc123/standard_20250119_123456.jpg"]
                      cleanup_errors:
                        type: array
                        nullable: true
                        description: Any errors encountered during cleanup
                        items:
                          type: string
                        example: null
                  photos_deleted:
                    type: array
                    description: Legacy field - list of deleted photo keys (for backward compatibility)
                    items:
                      type: string
                  deletion_reason:
                    type: string
                    description: Reason for deletion (user-provided or default)
                    example: "User requested account deletion"
                  deleted_at:
                    type: string
                    format: date-time
                    description: Timestamp when deletion occurred
                    example: "2025-08-19T04:30:00Z"
                  warning:
                    type: string
                    description: Warning about irreversibility
                    example: "This action cannot be undone"
        400:
          description: Bad request - missing confirmation parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Account deletion requires confirmation"
                  usage:
                    type: string
                    example: "DELETE /users/{userId}?confirm=true"
                  warning:
                    type: string
                    example: "This action cannot be undone"
                  user:
                    $ref: '#/components/schemas/User'
        401:
          description: Unauthorized - invalid or missing JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden - users can only delete their own accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    CognitoJWTAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        AWS Cognito JWT **ID Token** (not Access Token). Include the token in the Authorization header:
        `Authorization: Bearer <your-id-token>`
        
        **Important**: You must use the **ID Token**, not the Access Token:
        
        **Correct (ID Token):**
        ```javascript
        const session = await Auth.currentSession();
        const idToken = session.getIdToken().getJwtToken(); // ✅ Use this
        ```
        
        **Incorrect (Access Token):**
        ```javascript
        const accessToken = session.getAccessToken().getJwtToken(); // ❌ Don't use this
        ```
        
        **Token Characteristics:**
        - **ID Token**: Contains user identity claims (`token_use: "id"`)
        - **Access Token**: For AWS service access (`token_use: "access"`) 
        - **Issuer**: `https://cognito-idp.us-east-1.amazonaws.com/us-east-1_W1OBKShP1`
        - **Expiry**: Typically 1 hour (check `exp` claim)

  schemas:
    User:
      type: object
      properties:
        cognito_id:
          type: string
          description: Cognito user ID (primary key)
          example: "us-east-1:12345678-1234-1234-1234-123456789012"
        nickname:
          type: string
          description: Unique user nickname
          example: "johndoe123"
        images:
          type: object
          nullable: true
          description: |
            Multiple profile image versions with selective access control.
            
            **Security Model:**
            - thumbnail: Always included (publicly accessible)
            - standard & high_res: Only included for authenticated users (presigned URLs with 7-day expiry)
          properties:
            thumbnail:
              type: string
              format: uri
              description: Small thumbnail (150x150px) - Always accessible
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
            standard:
              type: string
              format: uri
              description: Standard size (320x320px) - Authenticated users only (presigned URL)
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/standard_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
            high_res:
              type: string
              format: uri
              description: High resolution (800x800px) - Authenticated users only (presigned URL)
              example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/high_res_20250116_123456_a1b2c3d4.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
        image_url:
          type: string
          format: uri
          nullable: true
          description: Legacy field - Now returns thumbnail URL for backward compatibility (publicly accessible)
          example: "https://user-service-dev-photos.s3.amazonaws.com/users/abc123/thumbnail_20250116_123456_a1b2c3d4.jpg"
        created_at:
          type: string
          format: date-time
          description: Timestamp when user was created
          example: "2025-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when user was last updated
          example: "2025-01-15T15:45:30Z"
      required:
        - cognito_id
        - nickname
        - created_at
        - updated_at

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid image format"
        details:
          type: string
          description: Additional error details
          example: "Supported formats: JPEG, PNG, WebP"
        error_type:
          type: string
          description: |
            Specific error type from Commons Service integration:
            - ValidationError: Input validation failures
            - ImageProcessingError: Image processing failures  
            - StorageError: S3 storage operation failures
          enum: ["ValidationError", "ImageProcessingError", "StorageError", "AuthenticationError", "PermissionError", "NotFoundError", "InternalError"]
          example: "ValidationError"
        commons_service:
          type: boolean
          description: Indicates if error originated from Commons Service
          example: true
      required:
        - error

tags:
  - name: Photos
    description: Photo upload and management operations
  - name: Users
    description: User account operations
  - name: Lookup
    description: User lookup and search operations